/* products categories */

.products .card {
  cursor: pointer;
}

.products .card img {
  height: 7rem;
  object-fit: contain;
  transition: all 0.7s ease-in-out;
}

.products .card img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.products .card h6 {
  text-align: center;
}

/* carousel */

.carousel-item img {
  height: 60vh;
  object-fit: cover;
  object-position: 25% 75%;
}

.carousel-caption {
  position: absolute;
  top: 2%;
}

.carousel-caption h5 {
  color: black;
  font-size: 3rem;
}

.carousel-caption p {
  color: black;
  font-size: 1.1rem;
}
